In [37]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [38]:
df = pd.read_csv("top-5000-youtube-channels.csv")

# Display all rows except the last 5  rows using head method

In [39]:
df.head(-5)

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433
...,...,...,...,...,...,...
4990,"4,991st",B+,Ho Ngoc Ha's Official Channel,208,--,127185704
4991,"4,992nd",B+,Toys to Learn Colors,11,663114,141933264
4992,"4,993rd",B+,КАZКА,25,131766,74304638
4993,"4,994th",B+,United CUBE (CUBE Entertainment…,1055,1586835,371299166
4994,"4,995th",B+,Wings Marathi,1735,1099659,346175699

# Display all rows except the first 5 rows using tail method

In [40]:
df.tail(-5)

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
5,6th,A++,Movieclips,30243,17149705,16618094724
6,7th,A++,netd müzik,8500,11373567,23898730764
7,8th,A++,ABS-CBN Entertainment,100147,12149206,17202609850
8,9th,A++,Ryan ToysReview,1140,16082927,24518098041
9,10th,A++,Zee Marathi,74607,2841811,2591830307
...,...,...,...,...,...,...
4995,"4,996th",B+,Uras Benlioğlu,706,2072942,441202795
4996,"4,997th",B+,HI-TECH MUSIC LTD,797,1055091,377331722
4997,"4,998th",B+,Mastersaint,110,3265735,311758426
4998,"4,999th",B+,Bruce McIntosh,3475,32990,14563764
4999,"5,000th",B+,SehatAQUA,254,21172,73312511

# Find shape of our dataset

In [6]:
df.shape

(5000, 6)

In [7]:
print("number of rows are :" , df.shape[0])
print("number of columns are :" , df.shape[1])

number of rows are : 5000
number of columns are : 6

# find information about our dataset like total number of rows and columns, datatpe of each column and memory requirment

In [8]:
df.dtypes

Rank             object
Grade            object
Channel name     object
Video Uploads    object
Subscribers      object
Video views       int64
dtype: object

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           5000 non-null   object
 1   Grade          5000 non-null   object
 2   Channel name   5000 non-null   object
 3   Video Uploads  5000 non-null   object
 4   Subscribers    5000 non-null   object
 5   Video views    5000 non-null   int64
dtypes: int64(1), object(5)
memory usage: 234.5+ KB

# Get Overall statistics of the Dataframe

In [11]:
df.describe(include = 'all')

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
count,5000,5000,5000,5000,5000,5.000000e+03
unique,5000,6,4993,2286,4612,NaN
top,"5,000th",B+,Learn Colors For Kids,26,--,NaN
freq,1,2956,2,17,387,NaN
mean,NaN,NaN,NaN,NaN,NaN,1.071449e+09
std,NaN,NaN,NaN,NaN,NaN,2.003844e+09
min,NaN,NaN,NaN,NaN,NaN,7.500000e+01
25%,NaN,NaN,NaN,NaN,NaN,1.862329e+08
50%,NaN,NaN,NaN,NaN,NaN,4.820548e+08
75%,NaN,NaN,NaN,NaN,NaN,1.124368e+09
max,NaN,NaN,NaN,NaN,NaN,4.754884e+10

# Data Cleadning(replace '--' with NaN)

In [12]:
df.columns

Index(['Rank', 'Grade', 'Channel name', 'Video Uploads', 'Subscribers',
       'Video views'],
      dtype='object')

In [41]:
df1 = df.replace([' ...','--'] , np.nan , regex= True)

In [42]:
df1['Rank'].unique()

array(['1st', '2nd', '3rd', ..., '4,998th', '4,999th', '5,000th'],
      dtype=object)

In [43]:
df1.head(20)

    Rank Grade       Channel name Video Uploads Subscribers  Video views
0    1st  A++              Zee TV         82757    18752951  20869786591
1    2nd  A++            T-Series         12661    61196302  47548839843
2    3rd  A++                 NaN           373    19238251   9793305082
3    4th  A++                 NaN         27323    31180559  22675948293
4    5th  A++                 WWE         36756    32852346  26273668433
5    6th  A++          Movieclips         30243    17149705  16618094724
6    7th  A++                 NaN          8500    11373567  23898730764
7    8th  A++                 NaN        100147    12149206  17202609850
8    9th  A++                 NaN          1140    16082927  24518098041
9   10th  A++                 NaN         74607     2841811   2591830307
10  11th   A+                 NaN          2085    33492951   8587520379
11  12th   A+                 NaN           822    39409726  19291034467
12  13th   A+                 NaN           150     7662886   2540099931
13  14th   A+               Ozuna            50    18824912   8727783225
14  15th   A+                 NaN         16119    15899764  10989179147
15  16th   A+         Ch3Thailand         49239    11569723   9388600275
16  17th   A+     WORLDSTARHIPHOP          4778    15830098  11102158475
17  18th   A+                 NaN            53         NaN   1428274554
18  19th   A+             Badabun          3060    23603062   5860444053
19  20th   A+   WorkpointOfficial         24287    17687229  14022189654